.work-preview-content-slide {
    width: 99%;
    height: 640px;    
    margin: 10px 0 0 0;
    background: #fff;    
    
}

.work-content-slideshow {
    width: 97%;
    height: 415px;    
    margin: 0 auto 0 auto;
}

.work-content {
    width: 28%;
    height: 94%;
    margin: 5px 0 0 0;
    float: right;
    background: #fff;  
    text-align: left;
    overflow: auto;
}

.work-slideshow {
    width: 68%;
    height: 98%;
    float: left;
    margin: 0 5px 0 10px;
}

.slide-nav {    
    width: 97%;
    height: 180px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.slide-nav-content {
    width: 97%;
    height: 65%;
    margin: 0 auto 0 auto;
    background: #00b4cc;
}

